header {
    display: flex; /* Define o header como um container flex */
    justify-content: space-between; /* Espaça o conteúdo ao longo do eixo principal */
    align-items: center; /* Alinha o conteúdo ao longo do eixo cruzado */
    padding: 20px;
    background-color: rgb(225, 225, 228);
    color: #000000;
}


.website-head ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.website-head li {
    margin: 0 15px;
    list-style: none;
    font-size: 1em;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}

.website-head li:hover {
    font-size: 1.6em;
}

.website-head a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.welcome-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    border: 0px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #01193b;
    color: white;
}

.lista-produtos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    height: 300px;
}

.blocos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #6487b8;
    text-align: center;
    height:200px;
    width: 200px;
    box-shadow: 5px 5px lightgrey;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #ffffff;
}
