header {
    display: flex; /* Define o header como um container flex */
    justify-content: space-between; /* Espaça o conteúdo ao longo do eixo principal */
    align-items: center; /* Alinha o conteúdo ao longo do eixo cruzado */
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.website-head ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.website-head li {
    margin: 0 15px;
    list-style: none;
    font-size: 1.4em;
    text-decoration: none;
    color: whi;
}

.website-head li:hover {
    font-size: 1.6em;
}

.website-head a {
    text-decoration: none;
    color: #fff;
}

.welcome-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    border: 0px;
    font-family: 'Times New Roman', Times, serif;
    background-color: gold;
}

.lista-produtos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: darkgrey;
    height: 300px;
}

.foot {
    display: flex;
    text-align: center;
    min-height: 50px;
    color: white;
    background-color: rgb(46, 45, 45);
    width: 100%;
}
